body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

p {
    margin: 1em;
}

.container {
    width: 400px;

}

.button {
    font-size: 200%;
    font-style: normal;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.container__item {
    color: white;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 1em;
    background-color: #6844b7;
    transition: all 500ms ease-in-out
}

.container__item::after {
    padding: 0px;
    display: block;
    position: absolute;
    top: 45px;
    left: 0px;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #4c3185;
}

.container__item__inactive{
    background-color: rgb(158,56,176);
}

.container__item__inactive::after{
    background-color: rgb(111,39,125);
}

.container__item__text__wrapper {
    max-height: 400px;
    color: #9e9e9e;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 100%;
    opacity: 1;
    transition: all 600ms ease-in-out;
}

.container__item__text__wrapper__inactive {
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
}